node_modules
.next
*.log
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.next/
/.wrangler/
/src/
/tests/
/__tests__/
tsconfig.tsbuildinfo
.dev.vars*
admin/dist/
playwright-report/
test-results/
